/* Global Element Styles */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: white;
  border-style: solid;
}

/* Visibility */

button.hidden {
  display: none;
}

/* Text Styles */

.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* Background Styles */

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: blue;
}

.bg-yellow {
  background-color: yellow;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: orange;
}
